.footer {
    padding: 40px 0;
    background-color: #BF1A2F;
    position: absolute;
    width: 100%;
    margin-top: 9%;
    margin-bottom: 0;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #ffffff;
}

.footer .social a {
    font-size: 24px;
    color: #ffffff;
    border: 1px solid #b92f42;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    opacity: 0.8;
    text-align: center;
}

.footer ul li a {
    font-weight: lighter;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;

}

.footer .copyright {
    margin-top: 15px;
    margin-right: 590px;
    font-size: 13px;
    color: #ffffff
}