@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap');

* {
  font-family: 'Poppins';
}

body {
  width: 100%;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
li,
a,
.button {
  list-style: none;
  text-decoration: none;
  color: #161616;
  border: none;
}

.button {
  background-color: #00176a;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: auto;
  margin-top: 0;
  padding: 0;
  text-align: center;
  max-width: 1200px;
}
