.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f2f5;
  border-radius: 8px;

  button {
    margin: 16px 0px;
    width: 100%;
    height: 48px;
  }
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

// form {
//   background-color: #fff;
//   padding: 20px;
//   border-radius: 8px;
// }

.form-group {
  margin-bottom: 16px;
}

// label {
//   display: block;
//   font-size: 14px;
//   margin-bottom: 4px;
// }

// input[type="checkbox"] {
//   margin-right: 8px;
// }

// input[type="text"],
// input[type="datetime-local"],
// input[type="number"] {
//   width: 100%;
//   padding: 8px;
//   border-radius: 4px;
//   border: 1px solid #ccc;
//   font-size: 14px;
// }

// button {
//   padding: 10px 16px;
//   background-color: #1877f2;
//   color: #fff;
//   border: none;
//   border-radius: 4px;
//   font-size: 14px;
//   cursor: pointer;
// }

// button:hover {
//   background-color: #0e64db;
// }

// button:disabled {
//   background-color: #ccc;
//   cursor: not-allowed;
// }
