.main-div-landing-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./qs.jpg);
  width: 98.7vw;
  height: 81vh;
  margin-left: 0;
  margin-top: 0px;
  padding: 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.ballina-title {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

.njoftimet-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.njoftimet-item p {
  padding-top: 20px;
}

/* Njoftimet */

/* Mobile Styles */
@media (max-width: 767px) {
  .njoftimet {
    margin-top: 40px;
    padding-left: 50px;
    height: auto;
  }
  .njoftimet-p {
    flex-direction: row;
  }
  .njoftimet-p p {
    padding-right: 8px;
    padding-bottom: 10px;
  }
  .njoftimet-grid {
    flex-direction: column !important;
  }
  .njoftimet-grid-item {
    margin: 0 auto !important;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 991px) {
  /*   .njoftimet {
    margin-top: 60px;
    padding-left: 60px;
  }
  .njoftimet-p {
    margin-right: 50px;
  }
  .njoftimet-p p {
    padding-right: 88spx;
    margin-right: 20px;
  } */
}

/* Desktop Styles */
@media (min-width: 992px) {
  /*   .njoftimet {
    margin-top: 80px;
    padding-left: 160px;
  }
  .njoftimet-p {
    padding-right: 65px;
  }
  .njoftimet-p p {
    padding-right: 60px;
  } */
}

/* Common Styles */
.njoftimet-container {
  padding: 65px 0;
}
/* .njoftimet-div {
  margin-top: 15px;
  margin-left: 15px;
}

.njoftimet-p {
  display: flex;
  margin-left: 8px;
}
 */
.njoftimet-p p {
  color: #bf1a2f;
  font-weight: bold;
  font-size: 14px;
}

.njoftimet-e-reja-title {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-right: 30px;
}
