/* * {
    width: 100%;
} */

.main-div-landing-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./qs.jpg);
  width: 98.7vw;
  height: 81vh;
  margin-left: 0;
  margin-top: 0px;
  padding: 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.ballina-title {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

.njoftimet {
  border: 1px solid #e3e3e3;
  margin-top: 80px;
  background-color: #e3e3e3;
  padding-left: 110px;
  height: 250px;
}

.njoftimet-div {
  margin-top: 15px;
}

.njoftimet img {
  margin-right: 150px;
  width: 120px;
}

.njoftimet-p {
  display: flex;
  margin-left: 10px;
}

.njoftimet-p p {
  color: #bf1a2f;
  font-weight: bold;
  padding-right: 78px;
}

.njoftimet-e-reja-title {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
