.complaint-form{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}

.form-container-ankesat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    padding: 10px;
    width: 37vw;
}

.textarea-field-ankesat {
    width: 50%;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    margin-bottom: 1rem;
    height: 200px;
}

.submit-button-ankesat {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1rem;
    background-color: #BF1A2F;
    border-radius: 10px;
    margin-right: 20px;
    color: #ffffff;
    font-size: 1rem;
    width: 150px;
    height: 50px;
    transition: all 0.2s ease-in-out;
    margin-top: 40px;
}

.submit-button-ankesat:hover {
    background-color: #be1028;
    cursor: pointer;
}

.h2-ankesat {
    text-align: center;
}

.card-container-ankesat {
    display: inline-block;
    margin-top: 60px;
    margin-left: 80px;
    width: 300px;
    height: 270px;
}

.card-container-ankesat .btn-card {
    width: 140px;
    margin-left: 65px;
    font-weight: bold;
}