table { 
    border-collapse: collapse; 
    background:#ffffff;
    border-radius:10px;
    overflow:hidden;
    width:100%;
   
    td,th{ 
      padding:0px 10px}

    thead tr{ 
      height:60px;
      background:#f3f3f3;
      border-bottom:5px solid #c62828 ;
      font-size:16px;
      color: #161616;
    }

    thead th{
        border-right:1px solid #E3F1D5 ;
    }
    
    tbody tr{
        background-color: #f3f3f3;
        height:45px; 
        border-bottom:3px solid #ffffff ;
        color: #161616;
    }
    
    tbody th{
        font-weight: normal;
        border-right:1px solid #E3F1D5 ;
    }
    
    td,th { text-align:left;}
  }

.payments-show{
    margin-top: 20px;
    color: #c62828;
}

.payments-show Button{
    max-width: 70px;
}

.payments-show span{
    margin-left: 15px;
    margin-right: 15px;
}

.styled-table {
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    table th, td {
        padding: 12px 15px;
    }

    tbody tr:last-of-type {
        border-bottom: 3px solid #c62828;
    }
}

.filter-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2em;
    label {
      font-size: 20px;
    }

    input {
        width: 100%;
        min-width: 19em;
        height: 50px;
        padding: 0px 10px;
        font-size: 16px;
        background-color: #f3f3f3;
        border: 0;
        border-radius: 10px;
        margin-bottom: 1em;
        margin: 10px;
        transition: all 250ms ease-in-out;
        &:focus {
          outline: none;
          box-shadow: 0px 0px 12px 0.8px #da244b;
        }
      }
}