table { 
    border-collapse: collapse; 
    background:#ffffff;
    border-radius:10px;
    overflow:hidden;

    thead tr{ 
      background:#f3f3f3;
      border-bottom:4px solid #ffffff ;
      color: #161616;
    }
    
    tbody tr{
        background-color: #f3f3f3;
        border-bottom:4px solid #ffffff ;
        color: #161616;
    }
  }

.payments-show span{
    margin-left: 15px;
    margin-right: 15px;
}