.styledContainerR {
  .firstPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    margin-left: 300px;  
    width: 750px;

    .roommateContainer {
      margin: 3px;
      width: 400px;
      background-color: #f3f3f3;
      border-radius: 10px;

      .title2 {
        border-bottom: 3px solid white;

        h3 {
          margin: 0.3em;
        }
      }

      .roommateContaineeer {
        display: flex;
        align-items: center;
        margin: 10px;

        p {
          font-size: 15px;
          margin-right: 10px;
          color: black;
        }
      }
    }
    .roommateRequest {
      margin: 3px;
      width: 45%;
      background-color: #f3f3f3;
      border-radius: 10px;

      .title {
        border-bottom: 3px solid white;
        border-bottom-style: dashed;
        h3 {
          margin: 0.3em;
        }
      }

      .roommateRequestContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10px;
        margin-top: 30px;

        .img {
          width: 30px;
        }

        p {
          font-size: 15px;
          margin-left: 20px;
          color: black;
          margin-bottom: 15px;
        }

        .iconContainer {
          display: flex;
          align-items: center;
          margin-left: 10px;
        }

        .greenBackground {
          border-radius: 50%;
          padding: 5px;
          margin-right: 5px;
          img {
            width: 30px;
          }
        }

        .redBackground {
          border-radius: 50%;
          padding: 5px;
        }
      }
    }
  }

  .secondPart {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-left: 300px;
    width: 750px;
    background-color: #f3f3f3;
    border-radius: 10px;

    .chooseRoommate {
      margin: 3px;
      width: 400px;
      background-color: #f3f3f3;
      border-radius: 10px;
      border-color: #bf1a2f;
      border-style: solid;

      h4 {
        margin: 1.5em;
        margin-left: 50px;
      }
      p {
        color: black;
        font-size: 12px;
        margin-top: 50px;
        margin-left: 80px;
      }
    }

    .roommateSuggestion {
      margin: 3px;
      width: 400px;
      background-color: #f3f3f3;
      border-radius: 10px;
      margin-left: 50px;
      border-color: #bf1a2f;
      border-style: solid;

      .questionnaire {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
      }

      h4 {
        margin: 1.5em;
        margin-left: 50px;
      }
      span{
        margin-left: 80px;
      }

      .pAndContainer {
        margin-top: 60px;

        p {
          color: black;
          font-size: 13px;
          margin-left: 100px;
        }
      }

      .roommateRequestContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10px;
        margin-bottom: 10px;

        .img {
          width: 30px;
        }

        .iconContainer {
          display: flex;
          align-items: center;
          margin-left: 10px;
        }

        .greenBackground {
          border-radius: 50%;
          padding: 5px;
          margin-right: 5px;
          img {
            width: 30px;
          }
        }

        .redBackground {
          border-radius: 50%;
          padding: 5px;
        }

        p {
          font-size: 15px;
          margin-left: 20px;
          color: black;
          margin-bottom: 15px;
        }
      }
    }
  }
}
