.headline {
  height: 400px;
  background: #000;
  position: relative;

  img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  .headlineImageOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
  }
}

.study_groups {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  width: 100%;

  &__header {
    margin: 16px;
  }

  &__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
    justify-items: center;
  }
}

.studyGroupsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .searchInput {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.studyGroupsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.studyGroupCard {
  background-color: #161616;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.headerImage {
  height: 180px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.studyGroupContent {
  h5 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: #161616;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #1976d2;
    }
  }
}
