.navbar {
  height: 80px;
  width: 98.6vw;
  background-color: #bf1a2f;
  color: white;
  font-size: 18px;
  border: 1px solid #bf1a2f;
  display: flex;
  align-items: center;
}

.logo {
  flex: content;
  margin-right: 35%;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}


.navbar-links,
p {
  margin-right: 30px;
  color: rgb(0, 0, 0);
  text-decoration-line: none;
  color: white;
  margin-top: 10px;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(91, 83, 83) 50%, rgb(169, 169, 169) 20%);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 700ms ease;
  font-size: large;
}


.navbar-links,
p:hover {

  color: #161616;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: #777777;
}

.sign-in-btn {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.5rem;
  background-color: #161616;
  border-radius: 30px;
  margin-right: 20px;
  color: #ffffff;
  font-size: 0.85rem;
  width: 100px;
  height: 40px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-btn:hover {
  background-color: #777777;
  cursor: pointer;
}

.my-profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.my-profile-icon {
  color: white;
  margin-right: 5px;
}
