.form-konkursi {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-right: 120px;
}

.title-hapja-konkursit {
    margin-top: 40px;
}

.hapja-konkursit {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 70px;
}