.form-konkursi {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-right: 120px;
}

.title-hapja-konkursit {
    margin-top: 40px;
    margin-left: 42%;
}

.hapja-konkursit {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 35%;
}

.deadline-konkursi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 100px;
}

.link-anouncement {
    border: 1px solid #bf1a2f;
    width: 50px;
    text-align: center;
    color: #bf1a2f;
}

.card-container {
    display: inline-block;
    margin-top: 60px;
    margin-left: 80px;
    width: 300px;
    height: 370px;
}

.img-card {
    width: 150px;
    height: 150px;
}

.card-container img {
    width: 140px;
    margin-left: 80px;
}

.card-container .btn-card {
    width: 140px;
    margin-left: 65px;
    font-weight: bold;
}

.link-aplikimet {
    border: 1px solid #bf1a2f;
    width: 230px;
    text-align: center;
    color: #bf1a2f;
    display: inline;
    margin-left: 190px;
}